apiVersion: apps/v1
kind: Deployment
metadata:
  name: rest-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rest-api
  template:
    metadata:
      labels:
        app: rest-api
    spec:
      containers:
        - name: rest-api
          image: berlin-rest-api:latest
          imagePullPolicy: Never 
          envFrom:
            - secretRef:
                name: secret-openai
            - configMapRef:
                name: configmap-berlin
          ports:
            - containerPort: 8080